.auth-page {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.login-box-card {
  width: 400px;
  margin-right: 40px;
}

.login-title {
  margin-bottom: 20px;
}

.login-forgot-password {
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.login-btn-enter {
  width: 100%;
  margin-top: 10px;
}

.register-box-card {
  width: 400px;
  background-color: var(--bn-bg-secondary);
}

.register-title {
  margin-bottom: 20px;
}

.register-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.login-btn-register {
  width: 100%;
  padding: 15px;
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .auth-page {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }

  .login-box-card, .register-box-card {
    width: 100%;
    margin-right: 0;
  }
}

.auth-message-success {
  color: green;
  margin-bottom: 16px;
}

.auth-message-error {
  color: red;
  margin-bottom: 16px;
}

.auth-form-actions {
  display: flex;
  gap: 16px;
}
